<configuration>
  <appSettings>
    <add key="MQQueueName" value="MyQueue" />
    <add key="MQHost" value="mq.server.com" />
    <add key="MQChannel" value="MyChannel" />
    <add key="MQPort" value="1414" />
    <add key="MQPollingInterval" value="5000" /> <!-- Polling every 5 seconds -->
    
    <add key="DBConnectionString" value="your_connection_string" />
  </appSettings>
</configuration>
